/* @import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* @import url("https://192960944.r.cdn36.com/chinesefonts2/packages/lxgwwenkai/dist/LXGWWenKai-Bold/result.css"); */

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gbase-50 dark:bg-gbase-800;
}
body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @apply bg-gradient-to-b from-gbase-50 to-gbase-100/75 dark:from-gbase-800 dark:to-gbase-900 -z-50;
}

dialog {
  @apply bg-transparent p-0 m-0 mx-auto;
  &::backdrop {
    @apply bg-transparent;
  }
}

.username {
  @apply text-4xl lg:text-5xl;
}

.g-link-style {
  @apply underline decoration-sky-500 text-gbase-600 dark:text-gbase-300 hover:text-gbase-500;
}

.g-link {
  @apply text-xl md:text-2xl lg:text-3xl;
  @apply g-link-style;
}

.two-tone {
  @apply relative;
  &::before {
    @apply absolute top-0 left-0 right-0 bottom-0 -z-10;
    @apply rounded-2xl;
    content: "";
    background: linear-gradient(
      110deg,
      transparent,
      theme("colors.gbase.200 / 30%") 16.6%,
      theme("colors.gbase.300 / 50%") 16.7%,
      theme("colors.gbase.300 / 60%") 83.3%,
      theme("colors.gbase.200 / 30%") 83.4%,
      transparent 100%
    );
    @media (prefers-color-scheme: dark) {
      background: linear-gradient(
        110deg,
        transparent,
        theme("colors.gbase.700 / 30%") 16.6%,
        theme("colors.gbase.700 / 50%") 16.7%,
        theme("colors.gbase.700 / 60%") 83.3%,
        theme("colors.gbase.700 / 30%") 83.4%,
        transparent 100%
      );
    }
  }
}

.hover-floating {
  @apply transition-transform;
  &:hover {
    transform: translateY(-3%);
  }
}

.safari .safari-performance-boost {
  @apply max-h-screen;

  .editor__content {
    @apply overflow-y-auto;
  }
}

.custom-container {
  @apply max-w-7xl lg:px-4;
}

.striped {
  @apply px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6;
  &:nth-child(odd) {
    @apply bg-gbase-100 dark:bg-gbase-800;
  }
}
.striped-dt {
  @apply text-sm font-medium text-gbase-500;
}
.striped-text {
  @apply mt-1 text-sm text-gbase-900 dark:text-gbase-100 sm:col-span-2 sm:mt-0;
}

.stack-btn {
  .reveal {
    @apply invisible absolute;
  }
  .surface {
    @apply visible absolute;
  }

  &:hover {
    .reveal {
      @apply visible absolute;
    }
    .surface {
      @apply invisible absolute;
    }
  }
}

.color-theme-light-invert {
  filter: invert(100%);
  @apply dark:[filter:invert(0)];
}
